/* common style */
*{
    font-family: 'lato',sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

.primary-text {
    color: #272727;
    font-weight: 800;
}

.primary-p {
    color: rgba(39, 39, 39, 0.60);
    line-height: 30px;
    font-weight: 400;
}

.primary-btn {
    border-radius: 8px;
    background: #E55473;
    color: #fff;
    border: none;
    padding: 15px 40px;
    font-size: 17px;
    font-weight: 700;
}

/* common style ends here */

/* header style starts here */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);
}

.header-h1 {
    font-size: 57px;
    width: 640px;
    line-height: 70px;
}

.header-span {
    color: rgb(255, 1, 1);
}

.header-p {
    font-size: 21px;
}

.header-img {
    width: 600px;
    height: 500px;
    padding-top: 81px;

}

.first-btn {
    color: #fff;
    border: none;
    padding: 15px 40px;
    font-size: 17px;
    font-weight: 700;
}

.header-texts {
    margin-left: 40px;
    padding: 27px;
}

/* header style ends here */

/* main style starts here */

/* sale style */
.sale-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    margin-top: 15%;
    padding-bottom: 30px;
    padding-top: 50px;
    border-radius: 8px;

}

.sale-text {
    text-align: center;
}

.sale-h2 {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}

.sale-p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 500;

}

.sale-btn {
    padding: 12px 33px;
}

.sale-img {
    width: 15%;
}

.sale-span {
    color: rgba(229, 84, 115, 1)
}

/* sale style end */
.insta-section {
    text-align: center;
    margin-top: 80px;
}

.insta-h3 {
    color: #272727;
    font-size: 39px;
    font-weight: 800;
    margin: 0px;
}

.insta-p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 20 px;
    font-weight: 500;

}

/* flower images side by side */

.flower-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}

.flower {
    width: 224px;
}
/* coupon section */
.coupon-section{
    background-image: url(../Rectangle\ 9.png);
    margin: 45px 210px;
    background-size: cover;
    align-items: center;
    padding: 77px;
    
}
.cupon-content{
    /* display: flex; */
    text-align: center; 
    
}
.cupon-h3{
    color: #272727;
    font-size: 25px;
    font-weight: 800;
    margin: 0px;
}
.cupon-p{
    color:rgba(39, 39, 39, 0.60);
    font-size: 16px;
}
.cupon-input{
    border: none;
    border-radius: 5px;
    width: 355px;
    height: 30px;
}
.cupon-btn{
    padding: 8px 10px;
    font-size: 15px;
    border-radius: 3px;
}


/* main style ends here */
/* footer styles here */
.footer{
    background: #111010;
}
.footer-container{
    text-align: center;
    margin-top: 75px;
    padding: 30px 0px;
    font-family: 'lato', 'sans-serif';
}
.footer-span{
    color:#E55473 ;
}
.footer-h3{
    color: #fff;
    font-size: 37px;
    font-weight: 700;   
}
.footer-p{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
}
.footer-p2{
    color: rgba(255, 255, 255, 0.40);
    font-size: 15px;
    font-weight: 300;
}